.login{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper{
    width: 60%;
    height: 75%;
    box-shadow: -4px 7px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 7px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 7px 12px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    border-radius: 20px;

}
.left,.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.or{
    border: 2px solid rgb(210, 200, 200);
    border-radius: 50%;
    padding: 10px;
    color: gray;
    font-weight: bold;
}
.loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}
.google{
    background-color: #df4930;
}
.facebook{
    background-color: #507cc0;
}
.github{
    background-color: black;
}
.icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
input{
    width: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.submit{
    width: 200px;
    background-color: purple;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}
.loginTitle{
    position: absolute;
    top: 180px;
    color: lightgray;
}